body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.contenedor {
  padding: 40px;
}

h1 {
  color: #0b3d91;
}

.galeria {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 220px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
}


.card h3 {
  margin: 10px 0 5px 0;
}

.card p {
  margin: 0 0 10px 0;
  color: #555;
}

.boton {
  background-color: #0b3d91;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.boton:hover {
  background-color: #082c6c;
}

.detalle {
  padding: 40px;
}